.library {
  position: fixed;
  box-shadow: 2px 2px 50px rgb(0, 0, 0);
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
  background: black;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  img {
    width: 30%;
  }
  &:hover {
    filter: brightness(1.2);
    img {
      transform: scale(1.1);
    }
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
